/* main content top */
.main-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.sidebar-toggler {
  display: flex;
  align-items: center;
  margin-right: 12px;
  /* color: #29221d; */
}
.sidebar-toggler img {
  width: 20px;
}
.content-top-title {
  color: #fe6c00;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  font-family: "Bad Script", cursive;
}
.content-top-btn {
  margin-left: 18px;
}
.content-top-btn img {
  width: 24px;
}
.content-top-btn img:hover {
  filter: brightness(0) invert(1);
}
.content-top-left {
  display: flex;
  align-items: center;
}
