@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

.tables-caption {
  padding: 1rem;
  text-align: center;
  margin: 2rem auto;
  color: var(--mainColor);
  border-top: 1px solid var(--secColor);
  border-bottom: 1px solid var(--secColor);
}

.table-id {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--textColor);
  font-family: var(--secFont);
  background-color: #031e24bd;
}

.table-cover {
  height: 450px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  figcaption {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 60%;
    font-family: var(--secFont);
    font-size: 1.3rem;
    transition: var(--mainTransition);
    color: var(--secColor);
    padding: 2.1rem;
    background-color: var(--backgroundColor);
    opacity: 0;
    span {
      font-size: 1rem;
      padding: 0.2rem;
      color: var(--textColor);
      border-style: solid;
      border-color: var(--textColor);
      border-width: 1px 0;
      transition: var(--mainTransition);
      &:hover {
        border-color: var(--secColor);
        color: var(--secColor);
      }
    }
  }
  &:hover {
    figcaption {
      opacity: 1;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #020a0c54;
      z-index: 0;
    }
  }
}

.table-details {
  position: fixed;
  top: 10vh;
  left: 0vw;
  width: 100vw;
  height: 90vh;
  overflow: auto;
  background-color: #020708f8;
  z-index: 9999;
  border-top: 2px solid var(--secColor);
  h3 {
    margin: 0 auto;
    position: relative;
  }
  article {
    .details {
      padding: 0 1.8rem;
      p {
        color: var(--mainColor);
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
        padding-bottom: 0.8rem;
        border-bottom: 1px solid var(--textColor);
        font-family: "'Margarine', cursive";
        span {
          color: var(--secColor);
          letter-spacing: 2px;
        }
      }
    }
    .gallery {
      height: 60vh;
      .images {
        .image {
          position: relative;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          text-align: center;
          transition: 0.3s ease-in-out;
          img {
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: inline-block;
          }
          &:not(.selected):hover {
            transform: scale(1.1);
          }
        }
        .selected {
          transform: scale(1.1);
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            width: 115%;
            height: 115%;
            border: 2px solid var(--secColor);
            z-index: -1;
          }
        }
      }
      .expanded {
        img {
          width: 100%;
          height: 100%;
          border-radius: 15px;
          object-fit: cover;
        }
      }
    }
  }
  .reserve-table {
    border: none;
    color: var(--textColor);
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-top: 2rem;
    transition: var(--mainTransition);
    background-color: #3137382d;
    border: 1px solid #80808062;
    &:hover {
      background-color: #3137384d;
    }
  }
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: var(--secColor);
    background-color: #3b3b3b;
    border-radius: 50%;
    font-weight: bold;
    vertical-align: middle;
    z-index: 9999;
  }
}

@media screen and (max-width: 576px) {
  h3.tables-caption {
    font-size: 1.5rem !important;
  }
  .table-details article .gallery {
    height: 45vh;
  }
}
@media screen and (min-width: 577px) and (max-width: 767px) {
  .table-details article .gallery {
    height: 50vh;
  }
}
@media screen and (max-width: 991px) {
  .table-details article .gallery {
    height: 50vh;
  }
}
