.restaurant-details {
  border: 8px solid rgb(102, 58, 38);
  background: #FFA17F; 
  background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  
  background: linear-gradient(to right, #00223E, #FFA17F); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 8px 14px rgba(166, 95, 15, 0.708);
}

.restaurant-details .text-center {
  font-size: 24px;
  color: #ffffff;
}

.restaurant-container {
  position: relative; 
}

.restaurant-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.193);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1; 
}

.restaurants-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.482);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1; 
}

.restaurant-cover-img {
  width: 100%;
  height: auto;
  z-index: 0;
}

.restaurant-content {
  position: relative; 
  z-index: 2; 
}

.restaurant-cover {
  position: relative; 
}

.restaurant-cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.restaurant-cover img {
  width: 100%;
  height: auto;
}

.restaurant-cover .content {
  position: relative; 
  z-index: 1;
}



.locations {
  background-color: white;
  text-align: center;
  font-size:large;
 
}
.locations th,
.locations td {
  border: 1px solid  #f1a58cc0; 

}

.locations th {
  background: #f1a58cc0;  
}



.locations tr:nth-child(even) {
  background: #f1a58c59; 
}
.restaurant-header{
  font-family: "Bad Script", cursive;
}

.restaurant-header h1 ,
.restaurant-header h4 {
  color: #ca8e46;
}

.restaurant-header h1{
font-weight: 500;

}



.formUserDashboard{
  margin-top: 3%;
  background: #FFA17F; 
  background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  
  background: linear-gradient(to right, #00223E, #FFA17F); 
 padding: 20px;
 border: 1px saddlebrown solid;
 border-radius: 20px;
}

.formUserDashboard button{
  background: #a14422; 
  background: -webkit-linear-gradient(to right, #02192b, #bb4920);  
  background: linear-gradient(to right, #020f1a, #ac5130); 
}

.formUserDashboard button:hover{
  background: #b15a3b; 
  background: -webkit-linear-gradient(to right, #13456c, #bb4920);  
  background: linear-gradient(to right, #223d53, #6b2f17); 
}


.formUserDashboard label{
  color: white;
}

.table-card{
  background: #FFA17F; 
  background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  
  background: linear-gradient(to right, #00223E, #FFA17F); 
  border: 1px saddlebrown solid;
  border-radius: 20px;
}

.table-card label 
{
 padding:1%;
  color: white;
}


.table-card button{
  background: #a14422; 
  background: -webkit-linear-gradient(to right, #02192b, #bb4920);  
  background: linear-gradient(to right, #020f1a, #ac5130); 
}

.table-card button:hover{
  background: #b15a3b; 
  background: -webkit-linear-gradient(to right, #13456c, #bb4920);  
  background: linear-gradient(to right, #223d53, #6b2f17); 
}


