.restaurant-details .text-center {
  font-size: 24px;
  color: #ffffff;
}

.restaurant-container {
  position: relative; 
}

.restaurant-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.193);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1; 
}

.restaurants-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.448);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1; 
}

.restaurant-cover-img {
  width: 100%;
  height: auto;
  z-index: 0;
}

.restaurant-content {
  position: relative; 
  z-index: 2; 
}

.restaurant-cover {
  position: relative; 
}

.restaurant-cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.restaurant-cover img {
  width: 100%;
  height: auto;
}

.restaurant-cover .content {
  position: relative; 
  z-index: 1;
}



.locations {
  background-color: white;
  text-align: center;
  font-size:large;

 
}
.locations th,
.locations td {
  border: 1px solid  #efcd7dc0; 
  padding:1%;
}

.locations th {
  background: #f1c98cc0;  
}



.locations tr:nth-child(even) {
  background: #eaad5159; 
}
.restaurant-header{
  font-family: "Bad Script", cursive;
}

.restaurant-header h1 ,
.restaurant-header h4 {
  color: #ffd28d;
}

.restaurant-header h1{
font-weight: 500;

}



.formUserDashboard{
  margin-top: 3%;
  background:#ffd28d; 

 padding: 20px;
 border: 1px saddlebrown solid;
 border-radius: 20px;
}



.formUserDashboard label{
  color: rgb(28, 25, 25);
}

.table-card{
 background-color:#ffd28d;
  border: 1px saddlebrown solid;
  border-radius: 20px;
}


.my-card{
  min-height: 20vh;
}

.my-card  .card-body{
  font-size: larger;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
} 

.my-card  .card-header{
  font-size: larger;
  color: #ca8e46;
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
} 

.card-style{
   background-color: #030404eb;
   border: 4px #ffd28d solid;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-style h2 {
  color: #ffd28d;
}


.location-container{
  background-color: #030404eb;
   border: 4px #ffd28d solid;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.my-card-header h5 {
  color: #ca8e46;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.my-card-body p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 400;
  border-bottom: 1px  #ffd28d solid;
}

.details-section img{
  height: 10vh;
 width: 20vw;
}
.location-container h2 {
  color: #ffd28d;
}

.specific-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.tables-card{
  min-height: 100vh;
 
}

.tables-card  p{
  background-color:#ffd18d2f;
  
}

.custom-slider {
  width: 100%; 
  max-width: 20vw; 
  margin: 0 auto;
}

.custom-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}


.fixed-image {
  width:15vw;
  height:17vh; 
  object-fit: cover; 
  border-radius: 8px; 
}

.card-img-container {
  width: 25vw; 
  height: 20vh; 
}



