@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
.container-fluid{
    overflow-x: hidden;
}
  
.side h1{
    font-family: "Fugaz One", sans-serif;
    color: #ffd28d;
    text-align: center;
    padding-top: 50px;
}

h3{
    
    font-family: "Bad Script", cursive;
    font-weight: bolder;
    text-align:  center;
    padding-left: 40px;
    padding-top: 15px;
    font-size: 50px;
}
nav{
    padding-top: 100px; 
}
.side{
    background-color: #000000;
    min-height: 100vh;
    position: fixed;
    top: 9%;
    left: 0;
    bottom: 0;
    min-width: 320px;
    overflow-y: auto;
}

.menuadmin{
    font-family: "Bad Script", cursive;
    padding: 15px 0;
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
    
}
.menuadmin span{
    font-size: 35px;
}
.menuadmin span:hover{
    color:#ffd28d;
}

.mainview{
    margin-left: 320px; 
    padding: 20px;
    position: relative;
    overflow: hidden; 
    background-image: url('../../../public/images/1 (1).jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.mainview::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.main-content {
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    .side {
        width: 100%;
        z-index: 1000;
    }
    .mainview {
        margin-left: 0;
        padding: 20px;
    }
}

strong{
    color:#3b332a;
}

/* ======================================= */
.formAdd{
    background-color: #ffd28d;
    padding:20px;
    color: #000000;
    border-radius: 20px;
}
.formAdd h2{
    font-family:"Bad Script", cursive ;
    font-weight: bolder;
}
.formAdd label{
    color:#000000;
}


.admin h1 {
    color: #ffd28d;
}


.admin tr  {
 font-size: larger;
 padding: 5px;
 border-bottom: 1px  #ffd28d solid;
}