@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

  
h2{
    font-family: "Fugaz One", sans-serif;
    color: rgb(255, 152, 27);
}
.bg{
    background-color: #ffd28d;
}
h3{
    
    font-family: "Bad Script", cursive;
    font-weight: bolder;
    text-align:  center;
    padding-left: 40px;
    padding-top: 15px;
    font-size: 50px;
}
.side{
    background-color: #ffd28d;
    min-height: 100vh;
}

.menuadmin{
    font-family: "Bad Script", cursive;
    padding: 50px 0;
    
}
.menuadmin span{
    font-size: 35px;
}
.menuadmin span:hover{
    color:black;
}