/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

:root {
  --backgroundColor: #020a0c;
  --mainColor: #f8f9fae0;
  --secColor: #ffd28d;
  --textColor: #a1a1a1;
  --errorColor: #dc3545;
  --mainTransition: .3s ease-in-out;
  --secFont: "Bad Script", cursive;
  ::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #9999993d;
    border: 1px solid #ffd18d36;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }
  ::selection {
    background-color: #fad9a84f;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--backgroundColor) !important;
  font-family: "Playfair Display", serif;
  transition: .3s ease-in-out;
}

.restau {
  margin-top: 20vh;
}

.text-main {
  color: var(--mainColor);
}

.text-sec {
  color: var(--secColor);
}

.text-color {
  color: var(--textColor);
}
.bg-color {
  color: var(--backgroundColor);
}

.sec-font {
  font-family: var(--secFont)
}

a {
  text-decoration: none;
}
