@import "../../../index.css";

.rest-nav .nav-link:hover,
.rest-nav .nav-link:active,
.rest-nav .nav-link:focus {
  color: var(--secColor) !important;
}

.rest-nav .nav-link {
  color: var(--mainColor) !important;
}

.rest-nav .nav .active {
  transition: .1s ease-in-out;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--secColor) !important;
}
