.checkout {
  background-color: var(--backgroundColor);
  .back {
    color: var(--secColor);
    font-size: 1.5rem;
    cursor: pointer;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .step-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .step {
        position: relative;
        flex: 1;
        .step-label {
          color: #818485;
          margin-bottom: 10px;
        }
        .step-label.visited {
          color: var(--secColor);
        }
        .bar {
          height: 0.8rem;
          width: 100%;
          background-color: #8184859c;
        }
        .bar.visited {
          background-color: var(--secColor);
        }
        &:not(:last-child) {
          margin-right: 0.2rem;
        }
      }
    }
  }
  .restaurant-checkout-details,
  .table-checkout-details {
    .details {
      padding: 0rem 1.8rem;
      p {
        color: var(--mainColor);
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
        padding-bottom: 0.8rem;
        font-family: "'Margarine', cursive";
        span {
          color: var(--secColor);
          letter-spacing: 2px;
        }
        &:not(:last-child) {
          border-bottom: 1px solid var(--textColor);
        }
      }
    }
  }
  .payment {
    .table-payment-details {
      background-color: var(--backgroundColor);
      .head {
        padding: 1rem;
        background-color: #595b5c3d;
        margin-bottom: 0;
        font-size: 2rem;
        border-bottom: 1px solid var(--textColor);
      }
      .details {
        & > div {
          margin-bottom: 1rem;
          border-bottom: 1px solid #595b5c7c;
          & > p {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          p:nth-child(1) {
            margin-bottom: 0.1rem;
            color: var(--secColor);
          }
          p:nth-child(2) {
            font-size: 0.8rem;
            span:nth-child(1) {
              padding-left: 0.5rem;
            }
          }
        }
        .extra-chair-price,
        .child-chair-price {
        }
      }
      .reciet {
        margin: auto;
        & > div {
          margin-bottom: 0.5rem;
          border-bottom: 1px solid #595b5c3a;
          p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
          }
        }
        div:nth-child(2) {
          color: #c0c0c06e;
        }
        div:nth-child(3) {
          color: #c0c0c06e;
        }
        div:nth-child(4) {
          font-weight: bold;
          font-size: 1.3rem;
        }
      }
    }
    .gateways {
      .head {
        font-size: 2rem;
      }
      .gateway-images {
        figure {
          height: 60px;
          width: 100px;
          img {
            background-color: #fff;
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: var(--mainTransition);
            object-fit: contain;
            border-radius: 0.5rem;
            border: 3px solid transparent;
          }
          .selected {
            border: 3px solid var(--textColor);
            transform: scale(1.1);
          }
        }
      }
      .cash-gateway {
        padding: 1rem;
        div:not(:last-of-type) {
          padding-bottom: 1.5rem;
          border-bottom: 1px solid #f2f6f72c;
        }
        .amount {
          padding: 1rem;
          color: var(--textColor);
          font-weight: bold;
          background-color: #595b5c3d;
          span:first-child {
            font-size: 1.5rem;
          }
        }
        label {
          font-size: 1.2rem;
        }
        .form-control {
          color: var(--textColor);
          &:focus {
            border: rgba(3, 44, 54, 0.25);
            box-shadow: 0 0 0 0.25rem rgba(2, 53, 66, 0.25);
          }
        }
        .error {
          margin-bottom: 0rem;
          margin-top: 1rem;
          text-align: center;
          color: var(--errorColor);
        }
      }
    }
  }
  .navigation-buttons {
    text-align: right;
    button {
      border: 0;
      margin: 0 0.2rem;
      font-weight: bold;
      padding: 0.3rem 1rem;
      /* border-radius: 0.2rem; */
      color: var(--backgroundColor);
      background-color: var(--secColor);
    }
  }
}

@media screen and (max-width: 600px) {
  .step-wrapper {
    flex-direction: column; /* Stack steps vertically on small screens */
  }

  .step {
    margin-bottom: 20px; /* Add spacing between stacked steps */
  }
}

  .btn-back {
    background-color: var(--secColor);
    border: 1px solid var(--secColor);
    color: var(--backgroundColor) !important;
  }