.branches {
  h3 {
    font-family: "Fugaz One", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  .review {
    p {
      color: var(--textColor);
      svg {
        color: var(--secColor);
      }
    }
  }
  .br-tabs {
    width: fit-content;
    width: 90%;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    margin: 0 auto 3rem !important;
    justify-content: center;
    .nav-item {
      &:not(:last-child) {
        .nav-link {
          margin-right: 60px;
          &:before {
            content: "";
            position: absolute;
            bottom: 50%;
            left: calc(100% + 1px);
            transform: translateY(-50%);
            width: 60px;
            height: 1px;
            background-color: var(--textColor);
          }
        }
      }
      .nav-link {
        color: var(--mainColor) !important;
        height: fit-content;
        height: 100%;
        padding: 0.3rem 1rem;
        border-radius: 1rem !important;
        white-space: nowrap !important;
        border: 1px solid var(--textColor) !important;
        position: relative;
        font-weight: bold;
        transition: var(--mainTransition);
        &:hover {
          color: var(--backgroundColor) !important;
          background-color: var(--secColor) !important;
        }
        &.active {
          font-weight: bold;
          color: var(--backgroundColor) !important;
          background-color: var(--secColor) !important;
        }
      }
    }
  }
  .img-thumbnail {
    background-color: var(--secColor) !important;
    padding: 0.15rem;
    border: none !important;
  }
  .beehive-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    .hex {
      position: relative;
      width: 120px;
      height: 135px;
      /* margin: 8px; */
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      overflow: hidden;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.25);
        cursor: pointer;
        z-index: 999;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      /*&:before,
      &:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
      }
      &:before {
        bottom: 100%;
        border-bottom: 28.87px solid #ccc;
      }
      &:after {
        top: 100%;
        width: 0;
        border-top: 28.87px solid #ccc;
      }
      &:hover {
        .hexImg {
          transform: scale(1.1);
        }
      }
      .hexIn {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ccc;
        overflow: hidden;
        .hexImg {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          transition: transform 0.3s;
        }
      }*/
    }
  }

  .address {
    .branch-map {
      .leaflet-container {
        width: 100%;
        height: 300px;
        border: 0.15rem solid var(--secColor);
        border-radius: var(--bs-border-radius);
      }
    }
    .content {
      .location {
        position: relative;
        margin-bottom: 3rem;
        &::before {
          content: "";
          position: absolute;
          bottom: -1.5rem;
          left: 10%;
          transform: translateY(-50%, -50%);
          width: 80%;
          height: 1px;
          background-color: var(--textColor);
        }
      }
      .phone {
        h4 {
          font-size: 1.2rem;
        }
        a {
          color: var(--mainColor) !important;
          display: inline-block;
          margin-right: 1.5rem;
          margin-bottom: 1rem;
        }
      }
      svg {
        color: var(--secColor);
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: middle;
        margin-right: 0.3rem;
      }
    }
  }
  .reserver-button {
    background-color: transparent !important;
    border-style: solid;
    border-color: #e0b370;
    border-width: 1px 0;
    color: var(--textColor);
    &.disabled {
      background-color: rgba(26, 27, 27, 0.411) !important;
      color: rgb(69, 69, 70);
      border-color: rgb(69, 69, 70);
    }
  }
  .style-module_starRatingWrap__q-lJC {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 710px) {
  .branches {
    .br-tabs {
      justify-content: flex-start;
    }
  }
}
