.branches {
  h3 {
    font-family: "Fugaz One", sans-serif;
    font-size: 2rem;
    letter-spacing: .1rem;
  }
  .br-tabs {
    width: fit-content;
    width: 90%;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    margin: 0 auto 3rem !important;
    justify-content: center;
    .nav-item {
      &:not(:last-child) {
        .nav-link {
          margin-right: 60px;
          &:before {
            content: "";
            position: absolute;
            bottom: 50%;
            left: calc(100% + 1px);
            transform: translateY(-50%);
            width: 60px;
            height: 1px;
            background-color: var(--textColor);
          }
        }
      }
      .nav-link {
        color: var(--mainColor) !important;
        height: fit-content;
        height: 100%;
        padding: 0.3rem 1rem;
        border-radius: 1rem !important;
        white-space: nowrap !important;
        border: 1px solid var(--textColor) !important;
        position: relative;
        font-weight: bold;
        transition: var(--mainTransition);
        &:hover {
          color: var(--backgroundColor) !important;
          background-color: var(--secColor) !important;
        }
        &.active {
          font-weight: bold;
          color: var(--backgroundColor) !important;
          background-color: var(--secColor) !important;
        }
      }
    }
  }
  .img-thumbnail {
    background-color: var(--secColor) !important;
    padding: 0.15rem;
    border: none !important;
  }
  .address {
    .branch-map {
      .leaflet-container {
        width: 100%;
        height: 300px;
        border: 0.15rem solid var(--secColor);
        border-radius: var(--bs-border-radius);
      }
    }
    .content {
      .location {
        position: relative;
        margin-bottom: 3rem;
        &::before {
          content: "";
          position: absolute;
          bottom: -1.5rem;
          left: 10%;
          transform: translateY(-50%, -50%);
          width: 80%;
          height: 1px;
          background-color: var(--textColor);
        }
      }
      .phone {
        h4 {
          font-size: 1.2rem;
        }
        a {
          color: var(--mainColor) !important;
          display: inline-block;
          margin-right: 1.5rem;
          margin-bottom: 1rem;
        }
      }
      svg {
        color: var(--secColor);
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: middle;
        margin-right: 0.3rem;
      }
    }
  }
  .reserver-button {
    &.disabled {
      background-color: rgba(26, 27, 27, 0.411) !important;
      color: rgb(69, 69, 70);
      border-color: rgb(69, 69, 70);
    }
  }
}

@media screen and (max-width: 710px) {
  .branches {
    .br-tabs {
      justify-content: flex-start;
    }
  }
}
