.branches .br-tabs {
  width: fit-content;
  margin: 0 auto 3rem !important;
}

.branches .br-tabs .nav-link {
  color: var(--mainColor) !important;
  height: fit-content;
  padding: 0.3rem 1rem;
  border-radius: 1rem !important;
  white-space: nowrap !important;
  border: 1px solid var(--textColor) !important;
  position: relative;
  font-weight: bold;
}

.branches .br-tabs .nav-item:not(:last-child) .nav-link {
  margin-right: 60px;
}

.branches .br-tabs .nav-item:not(:last-child) .nav-link::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: calc(100% + 1px);
  transform: translateY(-50%);
  width: 60px;
  height: 1px;
  background-color: var(--textColor);
}

.branches .br-tabs .nav-link:hover {
  color: var(--secColor) !important;
}

.branches .br-tabs .nav-link.active {
  font-weight: bold;
  color: var(--backgroundColor) !important;
  background-color: var(--secColor) !important;
}

.branches .img-thumbnail {
  background-color: var(--secColor) !important;
  padding: 0.15rem;
  border: none !important;
}

.branches .leaflet-container {
  width: 100%;
  height: 300px;
  border: 0.15rem solid var(--secColor);
  border-radius: var(--bs-border-radius);
}

.branches svg {
  color: var(--secColor);
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
  margin-right: 0.3rem;
}

.address .phone a {
  color: var(--mainColor) !important;
  display: inline-block;
  margin-right: 1.5rem;
}

.address .location {
  position: relative;
  margin-bottom: 3rem;
}

.address .phone {
  h4 {
    font-size: 1.2rem;
  }
}
.address .location::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 10%;
  transform: translateY(-50%, -50%);
  width: 80%;
  height: 1px;
  background-color: var(--textColor);
}
