.static-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-x: hidden;
}

.static-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 0;
}


.slide-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 35vh;
  min-width:50vw;
  transition: opacity 2s ease-out, transform 2s ease-out;
  transform: translateX(100%);
  background-color: #ca8f46e9;
  box-shadow: 4px -5px 14px rgba(234, 129, 9, 0.949);
  z-index: 3;
  font-family: 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

.slide-in {
  opacity: 1;
  transform: translateX(0%);
}
