.search-input {
  border: 1px rgb(248, 243, 243) solid;
  border-radius: 10px;
  
}


.search-icon{
  color:#FF6B16;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  
}


.bg-white {
  background-color: #fff!important; 
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 10px rgb(133, 130, 130);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.navbar-left {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-right {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-image {
  cursor: pointer;
}

.search-icon {
  cursor: pointer;
}

.search-input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}
