.general {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

@keyframes expand {
    from {
        width: 15rem;
    }
    to {
        width: 25rem;
    }
}

@keyframes collapse {
    from {
        width: 25rem;
    }
    to {
        width: 15rem;
    }
}

input {
    width: 100%;
}

.focused {
    animation: expand 0.3s forwards;
}

.not-focused {
    animation: collapse 0.3s forwards;
}

.nav-cover {
    width: 45%;
    margin-left: 2rem;
    padding: 0 1rem;
}

.circle-icon {
    border-radius: 5rem;
}

.nav-elements {
    font-size: 1.2rem;
    font-weight: 600;
}

.text-day {
    color: black;
    text-decoration: none;
}

.text-night {
    color: white !important;
    text-decoration: none;
}

.text-day:hover,
.text-day.active {
    color: gray !important;
}

.text-night:hover,
.text-night.active {
    color:#ffd28d !important;
}

@media (max-width: 991px) {
    .d-flex.justify-content-around {
        display: flex;
        flex-direction: column;
    }
    .nav-cover {
        margin: 0;
    }
    .nav-elements {
        text-align: center;
        width: 100%;
    }
}
