.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.restau{
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.495); 
  z-index: 1;
}

.text-container {
  position: absolute;
  top: 54%;
  left: 29%;
  padding-top: 2%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white; 
  text-align: left; 
}

.text-container strong {
  color: #FF6B16;
}

.main-text {
  font-size: 3rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-text {
  font-size: 3rem;
  padding-top: 1%;
  font-family: Arial, Helvetica, sans-serif;
}

.caption {
  font-size: 1.5rem; 
  padding-top: 1%;
  color: rgb(228, 226, 226);
}

@media (max-width: 769px) {
  .main-text {
    font-size: 1.5rem;
  }

  .sub-text {
    font-size: 1.5rem;
  }

  .caption {
    font-size: 0.8rem; 
  }
}



/*All Restaurants*/

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: inherit; 
}

.item:hover {
  background-color: #f9f9f9; 
}

.image-container {
  position: relative;
  width: 30vw;
  height: 40vh;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  flex: 1;
  margin-left: 20px;
}

.details h2 {
  margin-bottom: 10px;
}

.rating {
  margin-bottom: 10px;
}

.rating .text-warning {
  color: #ffd700;
}

.rating .text-secondary {
  color: #ccc;
}

.locations {
  margin-top: 10px;
}

.locations ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.location-item {
  padding: 5px 10px;
  margin: 5px;
  background-color: #FF6B16;
  color: white;
  border-radius: 3px;
}



/*circle*/

.circle-container {
  display: flex;
  justify-content: space-around;
 overflow-x: hidden;
 cursor: pointer;
}

.circle {
  position: relative;
  margin-top:10%;
  height: 65vh; 
  width: 35vw; 
  border: 1px white solid;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease; 
}

.circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.562); 
  border-radius: 50%;
  opacity: 0; 
  transition: opacity 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.circle:hover::before {
  width: 100%; 
  height: 100%;
  opacity: 1; 
 
}


.circle:hover::after {
  content: "Flavorsome Dining Experience"; 
  position: absolute;
  font-family: "Bad Script", cursive;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px; 
  z-index: 2; 
}