.myfooter {
    position: relative;
  background-color: rgb(240, 238, 238);
    background-size: 100% 100%;
}


.copyright{
    background-color:#FF6B16;
}


.footer-section {
  display: flex;
  justify-content: center;
}

.footer-section div {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 5px;
}

.list-unstyled {
  text-align: center; 
  font-size: small;
}


