.nav-link {
  text-decoration: none;
  color: inherit;
}

.top-restau {
  padding: 20px;
  text-align: center;
  margin-top: 6%;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.restaurant-grid {
  display: flex;
  justify-content: center;
}

.restaurant-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 0; 
}

.restaurant-card:hover {
  transform: scale(1.02);
}

.restaurant-image {
  width: 100%;
  height: auto;
}

.restaurant-name {
  position: absolute;
  bottom:40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(147, 145, 145, 0.588);
  color: white;
  padding: 10px;
  border-radius: 1px;
  transition: background-color 0.3s ease-in-out;
}



.card-1, .card-6 {
  flex: 1;
}

.card-2, .card-5 {
  flex: 1.5;
}

.card-3, .card-4 {
  flex: 2;
}

.card-3 img{
  height:55vh;
}
.card-4 img{
  height:55vh;
}

.card-2 img{
  height:45vh;
}

.card-5 img{
  height:45vh;
}

.card-1 img{
  height:33vh;
}


.card-6 img{
  height:33vh;
}

.card-3 {
  margin-right: 5px; 
}

.card-4 {
  margin-left: 5px; 
}




